<div class='row'>
  <div class='col-sm-12'>
    <table class="table table-condensed table-bordered table-status">
      <thead>
	<tr>
	  <th class="text-nowrap">Name</th>
	  <th>Status
	      <a href='#' class='btn btn-xs'
		 data-toggle='tooltip'
		 data-trigger='hover'
		 data-html="false"
		 data-delay='{"hide":100, "show":300}'
		 title='Click for cluster status details'>
		<span class='glyphicon glyphicon-question-sign'
		      style='margin-bottom: 4px;'></span></a>	      
	  </th>
	  <th>Last Contact</th>
	  <th class="sorter-false">Flags
	    <a href='#' class='btn btn-xs' id="flags-help"
	       data-toggle='popover'
	       data-trigger='hover'
	       data-html="true"
	       data-delay='{"hide":100, "show":300}'
	       data-content=''>
	      <span class='glyphicon glyphicon-question-sign'
		    style='margin-bottom: 4px;'></span></a>	      
	  </th>
	  <th>% Full</th>
	  <th>Inuse</th>
	  <th>Total</th>
	  <th class="sorter-false">URN</th>
	  <th class="sorter-false">URL</th>
	</tr>
      </thead>
      <tbody>
	<% _.each(status, function(value, key) { %>
	  <tr>
	    <td><%- value.name %></td>
	    <td>
	      <% if (value.status == "down" && value.last_error != "") { %>
		<span style="text-decoration: underline;"
		      data-toggle='popover'
		      data-trigger='hover'
		      data-delay='{"hide":100, "show":500}'
		      data-html='false'
		      data-content="<%- value.last_error%>"><%- value.status %>
		</span>
	      <% } else if (value.status == "up") { %>
		<a target="_blank"
		   href="cluster-status.php?cluster=<%- value.nickname %>">
		  <%- value.status %></a>
	      <% } else { %>
		<%- value.status %></a>
	      <% } %>
	    </td>
	    <td class="format-date"><%- value.last_contact %></td>
	    <td><%- value.flags %></td>
	    <td><%- value.ratio %></td>
	    <td><%- value.pcount - value.pfree %></td>
	    <td><%- value.pcount %></td>
	    <td align="center">
	      <a href="#" 
		 data-toggle='popover'
		 data-html='true'
		 data-trigger='click'
		 data-title="Aggregate URN"
		 data-content="<input type=text readonly=readonly
			       class=form-control
			       onClick='this.select();'
			       value='<%- value.urn %>'>">
		<span class="glyphicon glyphicon-expand"></span>
	      </a>
	    </td>
	    <td align="center">
	      <% if (value.url != "") { %>
		<a href="<%- value.url %>" target="_blank">
		  <span class="glyphicon glyphicon-link"></span></a>
	      <% } %>
	    </td>	    
	  </tr>
	<% }); %>
      </tbody>
    </table>
  </div>
</div>
