<div>
<% if (! registered) { %>
<div class='text-warning'>
  Since you are a guest user, you are required to use the default values
  when instantiating this profile. If you want to configure different
  values, please <a href='signup.php'>register for an account.</a>
</div>
<br>
<% } %>
<form id='pp_form'
      class='form-horizontal' role='form' method='post'>
  <div class='row'>
    <div class='col-sm-12'>
      <%= formfrag %>
    </div>
  </div>
</form>
<div id="image-picker-body"></div>
<div>
