<style>
 .popover{
     max-width: 800px;
 }
 .tablesorter-green th.sorter-false .tablesorter-header-inner {
     padding-left: 4px;
 }
</style>
<div>
  <table class='tablesorter' id='reservations-table-<%- name %>'>
    <thead>
      <tr>
	<% if (showcontrols) { %><th class="sorter-false">&nbsp</th><% } %>
	<th class="sorter-false">&nbsp</th>
	<% if (showuser) { %><th>Creator</th><% } %>
	<% if (showproject) { %><th>Project</th><% } %>
	<th>Type</th>
	<th>Count</th>
	<% if (showusing) { %>	  
	  <th class="sorter-false">Using</th>
	<% } %>
	<th>Util</th>
	<th>Created</th>
	<th>Starts</th>
	<th>Ends
	  <% if (!showusing) { %>
	    <span class='glyphicon glyphicon-question-sign'
		  style='margin-bottom: 4px;'
		  data-toggle='tooltip'
		  data-container="body"
		  data-trigger="hover"
		  title='End dates in orange mean the user deleted the
			 reservation before it expired. Red indicates the
			 reservation was canceled by an administrator.'>
	    </span>
	  <% } %>
	</th>
	<% if (showstatus) { %><th>Status</th><% } %>
	<th class="sorter-false">Notes</th>
      </tr>
    </thead>
    <tbody>
      <% _.each(reservations, function(value, uuid) { %>
	<tr data-uuid="<%- value.uuid %>"
	    data-pid="<%- value.pid %>"
	    data-cluster="<%- value.cluster_id %>"
	    <% if (value.uid_idx) { %>
	      data-uid_idx="<%- value.uid_idx %>"
	    <% } %>>
	  <% if (showcontrols) { %>
	    <td style='white-space: nowrap;'>
	      <% if (isadmin) { %>
		<a href="#" class="deny-button invisible">
		  <span class='glyphicon glyphicon-thumbs-down pull-left'
			style='color: red; margin-left: 0px;
			       margin-bottom: 4px;'
			data-toggle='tooltip'
			data-container="body"
			data-trigger="hover"
			title='Deny with reason'></span>
		</a>
		<a href="#" class="approve-button invisible">
		  <span class='glyphicon glyphicon-thumbs-up pull-left'
			style='color: red; margin-left: 5px;
			       margin-bottom: 4px;'
			data-toggle='tooltip'
			data-container="body"
			data-trigger="hover"
			title='Approve reservation'></span>
		</a>
	      <% } %>
	      <a href="#" class="delete-button">
		<span class='glyphicon glyphicon-remove pull-left'
		      style='color: red; margin-left: 5px;
			     margin-bottom: 4px;'
		      data-toggle='tooltip'
		      data-container="body"
		      data-trigger="hover"
		      title='Delete reservation'></span>
	      </a>
	      <a href="reserve.php?edit=1&cluster=<%- value.cluster_id %>&uuid=<%- value.uuid %>"
		 class="edit-button">
		<span class='glyphicon glyphicon-pencil pull-left text-primary'
		      style='margin-left: 5px;
			     margin-bottom: 4px;'
		      data-toggle='tooltip'
		      data-container="body"
		      data-trigger="hover"
		      title='Edit reservation details'></span>
	      </a>
	      <% if (isadmin) { %>
		<% if (value.uid_idx) { %>
		  <a href="#" class="info-button">
		    <span class='glyphicon glyphicon-info-sign pull-left
				 text-warning'
			  style='margin-bottom: 4px;
				 margin-left: 5px;'
			  data-toggle='tooltip'
			  data-container="body"
			  data-trigger="hover"
			  title='Send a message to user'></span>
		  </a>
		<% } %>
		<a href="#" class="warn-button">
		  <span class='glyphicon glyphicon-warning-sign pull-left
			       text-warning'
			style='margin-bottom: 4px;
			       margin-left: 5px;'
			data-toggle='tooltip'
			data-container="body"
			data-trigger="hover"
			title='Warn user about unused reservaton'></span>
		</a>
	      <% } %>
	    </td>
	  <% } %>
	  <td>
	    <% if (showactivity) { %>
	      <a href="#" class="resusage-button invisible">
		<span class='glyphicon glyphicon-list-alt pull-left text-info'
		      style='margin-bottom: 4px;
			     margin-left: 5px;'
		      data-toggle='tooltip'
		      data-container="body"
		      data-trigger="hover"
		      title='Show recent project activity'></span>
	      </a>
	    <% } %>
	    <a href="#" class="resgraph-button invisible">
	      <span class='glyphicon glyphicon-calendar
			   pull-left text-info'
		    style='margin-bottom: 4px;
			   margin-left: 5px;'
		    data-toggle='tooltip'
		    data-container="body"
		    data-trigger="hover"
		    title='Show reservation utilization'></span>
	    </a>
	  </td>
	  <% if (showuser) { %>
	    <td style='white-space: nowrap;'>
	      <% if (value.uid_idx) { %>
		<a href='user-dashboard.php?user=<%- value.uid %>'>
		  <%- value.uid %></a>
	      <% } else { %>
		<%- value.uid %>
	      <% } %>
	    </td>
	  <% } %>	    
	  <% if (showproject) { %>	  
	    <td style='white-space: nowrap;'>
	      <% if (value.pid_idx) { %>
		<a href='show-project.php?project=<%- value.pid %>'>
		  <%- value.pid %></a>
	      <% } else { %>
		<%- value.pid %>
	      <% } %>
	    </td>
	  <% } %>
	  <td><%- value.type %></td>
	  <td><%- value.nodes %></td>
	  <% if (showusing) { %>
	    <% if (new Date().getTime() > new Date(value.start).getTime() && value.using < value.nodes) { %>
	      <td><span class="text-danger"><%- value.using %></span></td>
	    <% } else { %>
	      <td><%- value.using %></td>
	    <% } %>
	  <% } %>
	  <td>
	    <% if (_.has(value, "utilization") && value.utilization) { %>
	      <%- value.utilization %>%
	    <% } else { %>
	      &nbsp;
	    <% } %>
	  </td>
	  <td class="format-date"><%- value.created %></td>
	  <td>
	    <% if (new Date().getTime() > new Date(value.start).getTime()) { %>
	      <span class="format-date"
		    style="color: green;"><%- value.start %></span>
	    <% } else { %>
	      <span class="format-date"><%- value.start %></span>
	    <% } %>
	  </td>
	  <td>
	    <% if (_.has(value, "deleted") && value.deleted) { %>
	      <% if (_.has(value, "canceled") && value.canceled) { %>
		<span class="format-date text-danger">
		  <%- value.deleted %></span>
	      <% } else { %>
		<span class="format-date text-warning">
		  <%- value.deleted %></span>
	      <% } %>
	    <% } else { %>
	      <span class="format-date"><%- value.end %></span>
	    <% } %>
	  </td>
	  <% if (showusing) { %>
	  <td class="status-column">
	    <span class="status-approved hidden">Approved</span>
	    <span class="status-pending hidden text-danger">Pending</span>
	    <span class="status-canceled hidden">
	      <span class="text-danger">Canceled</span>
	      <% if (isadmin && showcontrols) { %>
		<a href="#" class="cancel-cancel-button">
		  <span class='glyphicon glyphicon-thumbs-up'
			style='color: green; margin-left: 5px;
			       margin-bottom: 4px;'
			data-toggle='tooltip'
			data-container="body"
			data-trigger="hover"
			title='Cancel Cancellation'></span>
		</a>
	      <% } %>
	    </span>
	  </td>
	  <% } %>
	  <td align="center">
	    <a href="#" 
	       data-toggle='popover'
	       data-html='true'
	       data-trigger='hover'
	       data-title="Reservation Notes"
	       data-content="<div class='form-control'
			     style='height: auto;'><%- value.notes %></div>">
	      <span>&#8230;</span>
	    </a>
	  </td>
	</tr>
      <% }); %>
    </tbody>
  </table>
</div>
