<style>
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
    padding-top: 2px;
    padding-bottom: 2px;
}
@media (min-width: 768px) {
    .dl-horizontal dt {
	width: 80px;
    }
    .dl-horizontal dd {
	margin-left: 100px;
    }
 }
 
</style>
<div class='col-lg-10 col-lg-offset-1
            col-md-10 col-md-offset-1
            col-sm-10 col-sm-offset-1
            col-xs-12'>
  <% if (!window.EMBEDDED) { %>
    <div class='panel panel-default'>
      <div class='panel-heading'>
	<% if (1) { %>
 	  <% if (isadmin || candelete) { %>
	    <button class='btn btn-danger btn-xs pull-right'
                    id='image-delete-button'
                    style='margin-right: 10px; margin-top: -4px;'
     		    data-toggle='modal'
		    data-target='#confirm-image-delete-modal'
		    data-tooltip="Delete this image"
                    type='button' name='delete'>Delete
	    </button>
	  <% } %>
 	  <% if (window.ISEMULAB) { %>
	    <a href="clone-image.php?imageid=<%= fields.imageid %>"
	       id="image-clone-button"
	       class='btn btn-primary btn-xs pull-right'
               style='margin-right: 10px; margin-top: -4px;'
	       data-tooltip="Clone this image"
               type='button'>Clone</a>
	  <% } %>
 	  <% if ((isadmin || candelete) && window.ISEMULAB) { %>
	    <button class='btn btn-primary btn-xs pull-right'
                    id='image-snapshot-button'
		    style='margin-right: 10px; margin-top: -4px;'
     		    data-toggle='modal' data-target='#confirm-snapshot-modal'
		    data-tooltip="Create a new version of this image"
		    type='button'>Snapshot</button>
	  <% } %>
	<% } %>
 	<% if (isadmin && window.ISEMULAB) { %>
	  <a href="../showimageid.php3?imageid=<%= fields.imageid %>&classic=1"
	     class='btn btn-primary btn-xs pull-right'
             style='margin-right: 10px; margin-top: -4px;'
	     data-toggle='tooltip'
	     title="Classic show image page"
             type='button'>Classic</a>
	<% } %>
        <h3 class='panel-title'>Show Image</h3>
      </div>
      <div class='panel-body'>
  <% } else { %>
	<br>
  <% } %>
  <div class='row'>
    <div class='col-sm-12'>
      <table class='table table-condensed table-bordered'>
	<tr>
	  <td class="col-sm-3">Name</td>
	  <td><%- fields.name %>
	    <% if (fields.version) { %>
	      (Version:
	      <a href="<%- fields.version_url %>"
	      ><%- fields.version %>)</a>
	    <% } %>
 	    <% if (window.EMBEDDED && (isadmin || candelete)) { %>
	      <button class='btn btn-danger btn-xs pull-right'
		      id='image-delete-button'
		      style='margin-right: 10px; margin-top: 2px;'
     		      data-toggle='modal'
		      data-placement="bottom"
		      data-target='#confirm-image-delete-modal'
		      data-tooltip="Delete this image"
		      type='button' name='delete'>Delete
	      </button>
	    <% } %>
	  </td>
	</tr>
	<tr>
	  <td class="editable"
	      data-fieldname="description" data-fieldtype="text">
	    Description</td>
	  <td><span class="original"><%- fields.description %></span></td>
	</tr>
	<% if (!fields.isdataset) { %>
	  <tr>
	    <td>OS</td>
	    <td><%- fields.os %>
	      <% if (fields.os_version) { %>
		<%- fields.os_version %><% } %>
	    </td>
	  </tr>
	<% } %>
	<tr>
	  <td>Project</td>
	  <td>
	    <% if (isadmin) { %>
	      <% if (window.EMBEDDED) { %>
		<a id='embedded-anchors'
		   href='../showproject.php3?pid=<%= fields.pid %>'>
		  <%- fields.pid %></a>
	      <% } else { %>
		<a href='show-project.php?pid=<%= fields.pid %>'>
		  <%- fields.pid %></a>
	      <% } %>
	    <% } else { %>
	      <%- fields.pid %>
	    <% } %>
	  </td>
	</tr>
	<% if (fields.pid != fields.gid) { %>
	  <tr>
	    <td>Group</td>
	    <td><%- fields.gid %></td>
	  </tr>
	<% } %>
	<tr>
	  <td>Created</td>
	  <td class="format-date"><%- fields.created %></td>
	</tr>
	<tr>
	  <td>Creator</td>
	  <td>
	    <% if (isadmin) { %>
	      <% if (window.EMBEDDED) { %>
		<a id='embedded-anchors'
		   href='../showuser.php3?user=<%= fields.creator %>'>
		  <%- fields.creator %></a>
	      <% } else { %>
		<a href='user-dashboard.php?uid=<%= fields.creator %>'>
		  <%- fields.creator %></a>
	      <% } %>
	    <% } else { %>
	      <%- fields.creator %>
	    <% } %>
	  </td>
	</tr>
	<% if (fields.creator_urn) { %>
	  <tr>
	    <td>Creator URN</td>
	    <td><%- fields.creator_urn %></td>
	  </tr>
	<% } %>
	<% if (fields.updated) { %>
	  <tr>
	    <td>Updated</td>
	    <td class="format-date"><%- fields.updated %></td>
	  </tr>
	  <tr>
	    <td>Updater</td>
	    <td>
	      <% if (isadmin) { %>
		<% if (window.EMBEDDED) { %>
		  <a id='embedded-anchors'
		     href='../showuser.php3?user=<%= fields.updater %>'>
		    <%- fields.updater %></a>
		<% } else { %>
		  <a href='user-dashboard.php?uid=<%= fields.updater %>'>
		    <%- fields.updater %></a>
		<% } %>
	      <% } else { %>
		<%- fields.updater %>
	      <% } %>
	    </td>
	  </tr>
	  <% if (fields.updater_urn) { %>
	    <tr>
	      <td>Updater URN</td>
	      <td><%- fields.updater_urn %></td>
	    </tr>
	  <% } %>
	<% } %>
	<% if (fields.lastused) { %>
	  <tr>
	    <td>Last Used</td>
	    <td class="format-date"><%- fields.lastused %></td>
	  </tr>
	<% } %>
	<tr class="shared-global">
	  <td>Shared/Global
	    <a href='#' class='btn btn-xs'
	       data-toggle='popover'
	       data-html='true'
	       data-content='<dl class=dl-horizontal>
		     <dt>Shared</dt>
		     <dd>Images that are marked shared can be used by all
		     subgroups of the project the image belongs to. When not
		     shared, the image is accessible only by experiments
		     created in the same subgroup as the image.</dd>
		     <dt>Global</dt>
		     <dd>Images that are marked global can be used by any
		     user in any project or subgroup. Global implies shared
		     so if you mark an image as global, we will uncheck
		     shared.</dd></dl>'>
	      <span class='glyphicon glyphicon-question-sign'
		    style='margin-bottom: 4px;'></span>
	    </a>
	  </td>
	  <td><span class="original">
	    <% print(YesNo(fields.shared) +
	      "/" + YesNo(fields.global)); %></span>
	  </td>
	</tr>
	<% if (isadmin) { %>
	  <tr>
	    <td>Ready/Released</td>
	    <td>
	      <% print(YesNo(fields.ready) +
		"/" + YesNo(fields.released)); %>
	    </td>
	  </tr>
	<% } %>
	<tr>
	  <td class="editable adminonly"
	      data-fieldname="path" data-fieldtype="text">		
	    Path</td>
	  <td><span class="original"><%- fields.path %></span></td>
	</tr>
	<% if (!fields.isdataset) { %>
	  <% if (_.has(fields, "architecture")) { %>
	    <tr>
	      <td>Architecture</td>
	      <td><%- fields.architecture %></td>
	    </tr>
	  <% } %>
	  <tr class="typelist">
	    <td>Types</td>
	    <td><span class="original">
	      <%= fields.types.join(" &nbsp; ") %></span></td>
	  </tr>
	<% } %>
	<% if (fields.urn) { %>
	  <tr>
	    <td>URN</td>
	    <td><%- fields.urn %></td>
	  </tr>
	<% } %>
	<% if (_.has(fields, "parent_image_url")) { %>
	  <tr>
	    <td>Derived From</td>
	    <td><a href="<%= fields.parent_image_url %>">
	      <%- fields.parent_image_name + ":" +
	      fields.parent_image_vers %></a>
	    </td>
	  </tr>
	<% } %>
	<% if (isadmin && !fields.isdataset) { %>
	  <tr>
	    <td>Partition/Length</td>
	    <td><%- fields.loadpart %>/<%- fields.loadlength %></td>
	  </tr>
	  <tr>
	    <td>MBR Version</td>
	    <td><%- fields.mbr_version %></td>
	  </tr>
	  <tr>
	    <td class="editable adminonly"
		data-fieldname="reboot_waittime" data-fieldtype="text">
	      Reboot&nbsp;Waittime</td>
	    <td><span class="original"><%- fields.reboot_waittime %></span></td>		</tr>
	  <tr>
	    <td>Op Mode</td>
	    <td><%- fields.op_mode %></td>
	  </tr>
	  <% if (_.has(fields, "def_parent_image_url")) { %>
	    <tr>
	      <td>Parent Image</td>
	      <td><a href="<%= fields.def_parent_image_url %>">
		<%- fields.def_parent_image_name + ":" +
		fields.def_parent_image_vers %></a>
	      </td>
	    </tr>
	  <% } %>
	  <tr>
            <td>XEN Capable?</td>
   	    <td><% if (fields.xen_capable) { %>Yes<% } else { %>No<% } %>
	      <% if (isadmin) { %>
		(<a href="<%= fields.xen_capable_url %>">Toggle</a>)
	      <% } %>
	    </td>
	  </tr>
	<% } %>
	  <tr>
	    <td class="editable adminonly"
		data-fieldname="osfeatures" data-fieldtype="text">
	      Features
	      <a href='#' class='btn btn-xs' id="osfeatures-help"
		 data-toggle='popover'
		 data-html='true'>
		<span class='glyphicon glyphicon-question-sign'
		      style='margin-bottom: 4px;'></span>
	      </a>
	    </td>
	    <td><span class="original"
		><%- fields.os_features.join(",") %></span></td>
	  </tr>
	<% if (fields.hash) { %>
	  <tr>
	    <td>SHA1 Hash</td>
	    <td><%- fields.hash %></td>
	  </tr>
	<% } %>
	<tr>
          <td>Image UUID (URL)</td>
          <td><%- fields.image_uuid %>
	    (<a href="<%= fields.image_file_url %>">https://...</a>)</td>
	</tr>
	<tr>
          <td>Version UUID (URL)</td>
          <td><%- fields.uuid %>
	    (<a href="<%= fields.version_file_url %>">https://...</a>)</td>
	</tr>
	<tr>
	  <td>ID</td>
	  <td><%- fields.imageid %></td>
	</tr>
	<% if (isadmin) { %>
	  <tr class="adminnotes">
	    <td>
	      <a class='btn btn-danger btn-xs pull-right hidden'
		 style="margin-right: 10px; margin-top: 30px;"
		 id="adminnotes-save-button"
		 type='button'>Save</a>
	      Admin Notes</td>
	    <td style="width: 100%;">
	      <textarea style="width: 100%;"
			rows=4><%- fields.notes %></textarea>
	    </td>
	  </tr>
	<% } %>
      </table>
    </div>
  </div>
  <% if (!window.EMBEDDED) { %>
      </div>
    </div>
  <% } %>
</div>
<!-- Confirm Delete Image -->
<div id='confirm-image-delete-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>&times;</button>
        <center>
	  <h4>Are you sure want to delete this image?</h4>
	  <div>
	    Uncheck this box if you want your image file preserved.
	  </div>
	  <div>
	    <input type=checkbox checked id='image-delete-purge' value=yes>
	  </div>
	  <div>
	    Typically, you want to leave the box checked.
	  </div>
	</center>
	<center style="margin-top: 15px;">
          <button class='btn btn-default btn-sm'
		  data-dismiss='modal'
                  type='button'>Cancel
	  </button>
          <button class='btn btn-danger btn-sm'
		  id='confirm-image-delete'
		  style='margin-left: 10px;'
		  type='button' name='delete'>Confirm
	  </button>
	</center>
      </div>
    </div>
  </div>
</div>
<!-- Confirm Snapshot Image -->
<div id='confirm-snapshot-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>&times;</button>
        <center>
	  <h4>Create a new version of this disk image?</h4>
	  <div style="top-margin: 10px;">
	    Node id: <input id="snapshot-image-nodeid" type="text">
	  </div>
	</center>
	<div style="padding-left: 20px; padding-right: 20px; margin-top: 10px;">
	  <font size="+1">
          Note that this operation will <em>overwrite</em> the current
	  version of the image. If instead you want to create a brand
	  new image, please use the Clone button.</font>
	</div>
	<center style="margin-top: 15px;">
          <button class='btn btn-default btn-sm'
		  data-dismiss='modal'
                  type='button'>Cancel
	  </button>
          <button class='btn btn-danger btn-sm'
		  id='confirm-image-snapshot'
		  style='margin-left: 10px;'
		  type='button' name='delete'>Confirm
	  </button>
	</center>
      </div>
    </div>
  </div>
</div>
<div class="hidden" id="osfeatures-help-contents">
  <p>
    Features that an image advertises to the infrastructure. These
    features are used by the control framework to dictate what
    operations it can perform on a node running the image, either for
    its own needs or on behalf of a user.
  </p>
  <dl class=dl-horizontal>
    <dt></dt>
    <dd></dd>
    <dt>ping</dt>
    <dd>OS kernel will respond to ICMP pings</dd>
    <dt>ssh</dt>
    <dd>OS runs an sshd supporting public key authentication</dd>
    <dt>ipod</dt>
    <dd>OS kernel supports the Emulab-specific ICMP "ping of death"</dd>
    <dt>isup</dt>
    <dd>Contains Emulab control scripts that report the "ISUP" state</dd>
    <dt>mlinks</dt>
    <dd>Contains scripts to configure "multiplexed links"</dd>
    <dt>linktest</dt>
    <dd>Contains scripts to perform connectivity/routing/loss/BW tests on
      configured</dd>
    <dt>linkdelays</dt>
    <dd>Contains scripts to configure on-node traffic shaping</dd>
    <dt>vlans</dt>
    <dd>OS can support multiplexed links using VLAN devices</dd>
    <dt>loc-bstore</dt>
    <dd>Supports configuration of local disk blockstores</dd>
    <dt>rem-bstore</dt>
    <dd>Supports configuration of remote iSCSI-based blockstores</dd>
  </dl>
</div>
  

