<!-- This is the Please Wait modal -->
<div id='waitwait-modal' class='modal fade' data-keyboard='false' data-backdrop='static'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <center><h3>Please Wait</h3></center>
      </div>
      <div class='modal-body'>
        <center><img src='images/spinner.gif' /></center>
      </div>
    </div>
  </div>
</div>
<div id='waitwait-modal-withmessage' class='modal fade'
     data-keyboard='false' data-backdrop='static'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <center><h3>Please Wait</h3></center>
      </div>
      <div class='modal-body'>
        <center>
	  <span id="waitwait-modal-withmessage-message"></span>
	  <br>
	  <br>
	  <img src='images/spinner.gif' />
	</center>
      </div>
    </div>
  </div>
</div>
