<div>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      This profile is parameterized; please make your selections below,
      and then click to continue.
    </div>
    <div class='panel-body' style="padding-bottom: 0px;">
      <div id='ppmodal-body'>
      </div>
    </div>
  </div>
</div>

